
  .login-input {
    width: 90%;
    padding: 10px 20px;
    margin: 6px 25px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  .button-log {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 25px;
    border: none;
    cursor: pointer;
    width: 90%;
  }

  .button-log:hover {
    opacity: 0.8;
  }

  .cancelbtn_log {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }

  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }

  .container-log {
    padding: 16px;
  }

  span.psw {
    float: right;
    padding-top: 16px;
    margin: 0px 25px;
  }

  span.psws {
    float: left;
    padding-top: 16px;
    margin: 0px 25px;
  }

  .main-log-section
  {
      height: 50%;
      width: 500px;
      margin: auto;
    }

    .main-section
  {
      height: 50%;
      width: 500px;
    }


